.Title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;


  .title_text {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .title_text_en {
    font-size: 18px;
    color: #7f8c8d;
    cursor: pointer;
  }
}
