.foot_container {
  background-color: rgb(102, 102, 102);
  background-image: none;
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
  z-index: -1;

  .foot_content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 auto;
    width: 1000px;

    .company-info {
      padding-top: 20px;
      line-height: 24px;
      text-align: left;

      .company-info-item {
        display: flex;
        overflow: hidden;
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        text-decoration: none;
        font-style: normal;

        .company-info-titleBox {
          width: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .foot_form {
      width: 443px;

      .btn {
        text-align: center;
      }
    }
  }
}

.foot_area {
  width: 100%;
  padding-top: 4px;
  font-size: 12;
  background-color: #ffffff;
  font-family: Tahoma;
  position: relative;
  z-index: 3;

  .foot_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 13px;

    .foot_text {
      color: rgb(152, 152, 152);
      font-size: 12px;

      .ipv6-box {
        display: inline-block;
        margin-left: 4px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid rgba(152, 152, 152, 1);
        padding: 3px;
      }
    }

    .divider {
      background: rgb(152, 152, 152);
      height: 12px;
      font-size: 12px;
      margin: 0 10px;
      width: 1px;
    }
  }
}

.submit_btn:hover {
  color: #fff;
  background-color: #2bb783;
  border-color: #2bb783;
}

.submit_btn {
  display: inline-block;
  margin: 0;
  padding: 0 16px;
  cursor: pointer;
  outline: none;
  min-width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  background-color: rgb(243, 243, 243);
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background: -moz-linear-gradient(top, none, none);
  background: -o-linear-gradient(top, none, none);
  background: linear-gradient(top, none, none);
  background: -webkit-gradient(linear, left top, left bottom, from(none), to(none));
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.verify_dom {
  height: 40px;
  width: 100px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
